* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

html
{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
    font-size: 10px;
}

body
{
    display: grid;
    place-items: center;
}

.container
{
    margin: auto;
    display: grid;
    
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas:
        "header header header"
        "people server local"
        "people text text";

    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    width: 90%;
    height: 96vh;
    background: #FFF;
    border-radius: 10px;
}

.online
{
    grid-area: people;
    background: #0048AA;
}

.modal
{
    grid-area: local;
}

.users-list
{
    display: grid;
    grid-area: header;
    background: #0048AA;
}

.input
{
    display: grid;
    grid-area: text;
    background: #000;
}

.chatroom
{
    grid-area: server;
}