* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

html
{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
    font-size: 10px;
}

body
{
    display: grid;
    place-items: center;
}

.container
{
    position: relative;
    margin: auto;
    display: grid;
    
    grid-template-columns: 25% 40% 35%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
        "header header header"
        "people chat chat"
        "people text text";

    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    height: 96vh;
    background: #FFF;
    border-radius: 10px;
}

.online
{
    grid-area: people;
    background: #0056cf;
    border-top: 1px solid rgba(0, 0, 0, 25);
    border-radius: 0 0 0 10px;
}

.modal
{
    grid-area: header;
}


.chatroom
{
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    grid-area: server;
    border-radius: 0 0 0 10px;

    position: relative;
    grid-area: chat;
    display: grid;

    grid-template-columns:50% 50%;
    grid-template-areas:
            "server client";
    
}
#client_chat {
    position: right;
    grid-area: client;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
}
#server_chat {
    position: left;
    grid-area: server;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column-reverse;
   
}

.input
{
    position: relative;
    grid-area: text;
    margin: auto;

    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 0;
    background: rgb(11, 51, 230);
    border-top: 1px solid #000;

    display: grid;
    grid-template-columns: 15% 80% 5%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: 
        ". . ."
        ". textbox ."
        ". . .";

}

.message
{
    grid-area: textbox;
    padding: 12px 20px;
    outline: none;
    width: 100%;
    border-width: 20px;
    border-radius: 4px;
    border: 3px solid rgb(80, 80, 80);
    background-color: rgb(245, 245, 245);
}

#online-users
{
    position: relative;
    white-space: nowrap;
    text-align: center;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color: #FFF;
}

.users-list
{ 
    display: grid;
    grid-area: header;
    background: #0056cf;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 75);
}