* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

html
{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
    font-size: 10px;
}

body
{
    display: grid;
    place-items: center;
}

.users-list
{
    grid-area: header;
    background: #0048AA;
}

.input-zone
{
    position: relative;
    grid-area: text;
    background-color: rgb(0, 0, 0);
}

.chatroom
{
    grid-area: server;
}

.container
{
    margin: auto;
    display: grid;

    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
        "header header header"
        "people server local"
        "people text text";
    justify-items: stretch;
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    width: 90%;
    height: 96vh;
    background: #FFF;
    border-radius: 10px;
}
